---
import { Image } from 'astro:assets';


import Card1 from "../components/UI_components/card1.astro";
import Card2 from "../components/UI_components/card2.astro";
import Card3 from "../components/UI_components/card3.astro";
import Grid1 from "../components/UI_components/grid1.astro";
import Footercolumn from "../components/UI_components/footer.astro";
import Styles from "../components/styles.astro";

// Import images from ../assets
import youthacksLogo from "../assets/youthacks-logo.svg";
import mainLogo from "../assets/logo.svg";
import crane from "../assets/crane.png";
import crane1a from "../assets/crane1a.png";
import crane1b from "../assets/crane1b.png";
import crane2 from "../assets/crane2.png";
import crane3 from "../assets/crane3.png";
import crane4 from "../assets/crane4.png";
import crane5 from "../assets/crane5.png";
import crane6 from "../assets/crane6.png";
import gear from "../assets/gear.png";
import aromi from "../assets/aromi.png";
import githubLogo from "../assets/github-logo.png";
import rpiLogo from "../assets/raspberrypi-logo_white.svg";
import learnAnything from "../assets/learnanything.png";
import headerBg from "../assets/headerbg.png";
---
<head>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Poetsen+One&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>Cool As Hack</title>
  <Styles />
</head>
<body>
  <div class="container">
    <header>
      <a href="https://youthacks.org" target="_blank">
        <img src="/images/youthacks-logo.svg" alt="Youthacks Logo" class="youthacks-logo" />
      </a>
      
      <div class="tilt-logo" data-tilt data-tilt-max="15" data-tilt-speed="400">
        <Image src={mainLogo} alt="Logo" class="logo" />
      </div>

            <!-- Original cranes -->
      <img src="/images/crane1a.png" alt="Paper Crane" class="craneflipped" style="top: 50%; left: 5%;">
      <img src="/images/crane1a.png" alt="Paper Crane" class="craneflipped" style="top: 5%; left: 70%;">
      <img src="/images/crane1a.png" alt="Paper Crane" class="crane" style="top: 20%; right: 10%;">
      <img src="/images/crane1a.png" alt="Paper Crane" class="crane" style="top: 40%; left: 15%;">
      
      <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>
    </header>

    <div class="white-section">
      <img src="/images/crane.png" style="width:50%; height:auto; z-index:5; margin-bottom:0px;"/>
      <div class = "laptop-crane" style="top:115%; left:30%;">
        <Image src={crane1a} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:120%; left:20%; width:5%; transform: rotate(45deg);">
        <Image src={crane1b} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:130%; left:30%; width:2%; transform: rotate(-20deg); z-index:20;">
        <Image src={crane1b} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:110%; left:30%; width:5%; transform: rotate(-10deg); z-index:20;">
        <Image src={crane2} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:137%; left:20%; width:6%; transform: rotate(30deg) scaleX(-1); z-index:20;">
        <Image src={crane2} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:107%; left:22%; width:6%; transform: rotate(30deg) scaleX(-1); z-index:20;">
        <Image src={crane3}alt="Crane"  >
      </div>
      <div class = "laptop-crane" style="top:110%; left:35%; width:5%; transform: rotate(5deg); z-index:20;">
        <Image src={crane4} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:107%; left:12%; width:6%; transform: rotate(0deg); z-index:20;">
        <Image src={crane5} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:130%; left:15%; width:4%; transform: rotate(-20deg); z-index:20;">
        <Image src={crane6} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:130%; left:35%; width:6%; transform: rotate(10deg); z-index:20;">
        <Image src={crane2}alt="Crane"  >
      </div>
      <div class = "laptop-crane" style="top:132%; left:28%; width:4%; transform: rotate(-10deg) scaleX(-1); z-index:20;">
        <Image src={crane1b} alt="Crane" >
      </div>
      <div class = "laptop-crane" style="top:108%; left:16%; width:5%; transform: rotate(-10deg) scaleX(-1); z-index:20;">
        <Image src={crane6}alt="Crane"  >
      </div>
      <div class = "laptop-crane" style="top:110%; left:5%; width:4%; transform: rotate(-30deg) scaleX(-1); z-index:20;">
        <Image src={crane3}alt="Crane"  >
      </div>
      <div class = "laptop-crane" style="top:130%; left:43%; width:8%; transform: rotate(-30deg); z-index:20;">
        <Image src={crane6}alt="Crane"  >
      </div>
      <div class="laptop-crane" style="top:125%; left:10%; width:6%; transform: rotate(15deg); z-index:10;">
        <img src="/images/crane1a.png">
      </div>
      <div class="laptop-crane" style="top:112%; left:40%; width:4%; transform: rotate(-25deg); z-index:15;">
        <img src="/images/crane1b.png">
      </div>
      <div class="laptop-crane" style="top:140%; left:18%; width:5%; transform: rotate(30deg) scaleX(-1); z-index:5;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:135%; left:22%; width:3%; transform: rotate(-45deg); z-index:25;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:117%; left:38%; width:7%; transform: rotate(5deg); z-index:12;">
        <img src="/images/crane4.png">
      </div>
      <div class="laptop-crane" style="top:133%; left:8%; width:4%; transform: rotate(-10deg); z-index:18;">
        <img src="/images/crane5.png">
      </div>
      <div class="laptop-crane" style="top:115%; left:26%; width:6%; transform: rotate(60deg); z-index:14;">
        <img src="/images/crane6.png">
      </div>
      <div class="laptop-crane" style="top:120%; left:45%; width:5%; transform: rotate(-15deg) scaleX(-1); z-index:20;">
        <img src="/images/crane1a.png">
      </div>
      <div class="laptop-crane" style="top:137%; left:38%; width:4%; transform: rotate(10deg); z-index:9;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:142%; left:12%; width:6%; transform: rotate(-35deg); z-index:22;">
        <img src="/images/crane5.png">
      </div>
      <div class="laptop-crane" style="top:125%; left:32%; width:7%; transform: rotate(20deg) scaleX(-1); z-index:17;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:110%; left:48%; width:5%; transform: rotate(-10deg); z-index:11;">
        <img src="/images/crane4.png">
      </div>
      <div class="laptop-crane" style="top:135%; left:26%; width:3%; transform: rotate(45deg); z-index:13;">
        <img src="/images/crane6.png">
      </div>
      <div class="laptop-crane" style="top:120%; left:18%; width:6%; transform: rotate(5deg); z-index:19;">
        <img src="/images/crane1b.png">
      </div>
      <div class="laptop-crane" style="top:110%; left:28%; width:6%; transform: rotate(10deg); z-index:-10;">
        <img src="/images/crane1a.png">
      </div>
      <div class="laptop-crane" style="top:112%; left:32%; width:4%; transform: rotate(-20deg); z-index:-10;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:108%; left:30%; width:5%; transform: rotate(5deg) scaleX(-1); z-index:-10;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:115%; left:26%; width:3%; transform: rotate(15deg); z-index:-10;">
        <img src="/images/crane6.png">
      </div>
      <div class="laptop-crane" style="top:118%; left:33%; width:7%; transform: rotate(-30deg); z-index:-10;">
        <img src="/images/crane4.png">
      </div>
      <div class="laptop-crane" style="top:109%; left:25%; width:6%; transform: rotate(20deg); z-index:-10;">
        <img src="/images/crane1b.png">
      </div>
      <div class="laptop-crane" style="top:122%; left:29%; width:5%; transform: rotate(-15deg); z-index:-10;">
        <img src="/images/crane5.png">
      </div>
      <div class="laptop-crane" style="top:113%; left:27%; width:4%; transform: rotate(35deg); z-index:-10;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:116%; left:34%; width:6%; transform: rotate(-10deg); z-index:-10;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:106%; left:30%; width:3%; transform: rotate(25deg); z-index:-10;">
        <img src="/images/crane6.png">
      </div>
      <!-- Lower cranes, still behind the laptop -->
      <div class="laptop-crane" style="top:128%; left:26%; width:6%; transform: rotate(15deg); z-index:-10;">
        <img src="/images/crane1a.png">
      </div>
      <div class="laptop-crane" style="top:130%; left:33%; width:5%; transform: rotate(-10deg); z-index:-10;">
        <img src="/images/crane4.png">
      </div>
      <div class="laptop-crane" style="top:132%; left:29%; width:4%; transform: rotate(20deg); z-index:-10;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:135%; left:27%; width:7%; transform: rotate(-25deg); z-index:-10;">
        <img src="/images/crane6.png">
      </div>
      <div class="laptop-crane" style="top:137%; left:31%; width:3.5%; transform: rotate(30deg); z-index:-10;">
        <img src="/images/crane1b.png">
      </div>
      <div class="laptop-crane" style="top:140%; left:34%; width:6%; transform: rotate(-15deg); z-index:-10;">
        <img src="/images/crane5.png">
      </div>
      <div class="laptop-crane" style="top:125%; left:28%; width:4.5%; transform: rotate(5deg); z-index:-10;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:133%; left:25%; width:5.5%; transform: rotate(12deg) scaleX(-1); z-index:-10;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:118%; left:10%; width:5%; transform: rotate(-10deg); z-index:-10;">
        <img src="/images/crane1a.png">
      </div>
      <div class="laptop-crane" style="top:120%; left:7%; width:4%; transform: rotate(15deg); z-index:-10;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:125%; left:5%; width:6%; transform: rotate(-5deg) scaleX(-1); z-index:-10;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:130%; left:12%; width:5.5%; transform: rotate(25deg); z-index:-10;">
        <img src="/images/crane5.png">
      </div>
      <div class="laptop-crane" style="top:127%; left:15%; width:4.5%; transform: rotate(-20deg); z-index:-10;">
        <img src="/images/crane4.png">
      </div>
      <div class="laptop-crane" style="top:133%; left:18%; width:5%; transform: rotate(10deg); z-index:-10;">
        <img src="/images/crane6.png">
      </div>
      <div class="laptop-crane" style="top:115%; left:9%; width:6%; transform: rotate(-30deg); z-index:-10;">
        <img src="/images/crane1b.png">
      </div>
      <div class="laptop-crane" style="top:112%; left:18%; width:4.5%; transform: rotate(10deg); z-index:-10;">
        <img src="/images/crane3.png">
      </div>
      <div class="laptop-crane" style="top:116%; left:22%; width:4.5%; transform: rotate(-25deg); z-index:20;">
        <img src="/images/crane5.png">
      </div>
      <div class="laptop-crane" style="top:120%; left:20%; width:5%; transform: rotate(15deg); z-index:-10;">
        <img src="/images/crane4.png">
      </div>
      <div class="laptop-crane" style="top:124%; left:23%; width:6%; transform: rotate(5deg); z-index:20;">
        <img src="/images/crane6.png">
      </div>
      <div class="laptop-crane" style="top:118%; left:16%; width:5.5%; transform: rotate(-10deg) scaleX(-1); z-index:-10;">
        <img src="/images/crane2.png">
      </div>
      <div class="laptop-crane" style="top:122%; left:19%; width:4%; transform: rotate(30deg); z-index:20;">
        <img src="/images/crane1a.png">
      </div>
      <div class="laptop-crane" style="top:125%; left:15%; width:4.8%; transform: rotate(-15deg); z-index:-10;">
        <img src="/images/crane1b.png">
      </div>

    



      <Card1>
        <h1>What Is Cool As Hack?</h1>
        <p>Cool as hack is a <a href="https://en.wikipedia.org/wiki/Hackathon">hackathon</a>
        for Secondary school students, in partnership with the <a href="https://raspberrypi.org">Raspberry Pi Foundation</a>. Held right here in Cambridge,
        Cool as hack is a hackathon where
        you get to work on the coolest projects you can,
        and then show them to the world in
        <a href="https://www.raspberrypi.com/">Raspberry Pi's</a>
        global competition, <a href="https://online.coolestprojects.org/">Coolest projects</a>.</p>
      </Card1>
      <Image src={gear} class="gear" style="top: 20%; left: 5%;" alt="Crane" >
      <Image src={gear} class="gear" style="top: 40%; right: 5%;"alt="Crane" >
      <Image src={gear} class="gear" style="top: 115%; right: -2em;"alt="Crane" >
      <Image src={gear} class="gear" style="top: 6%; right: 40%;"alt="Crane" >
      <Image src={gear} class="gear" style="top: 80%; right: 22%;"alt="Crane" >
      <Image src={gear} class="gear" style="top: 65%; left: 30%;"alt="Crane" >
    </div>
    <div class = "blue-section" style = "padding-bottom:0rem;">
      <Card2>
        <h1>Is this all free?</h1>
        <p>Yes, all of it is free! Food, drinks, snacks and swag are all provided. 
          All you need to bring is a laptop to code on, a charger and if you'd like, a cool project to work on!
          All alergies and dietary requirements will also be catered for.
        </p>
      </Card2>
      <Card2>
        <h1>What have you done in the past?</h1>
        <p>In the past, we have organised other really fun events! We've organised
        <a href="https://scrapyard.hackclub.com/cambridge">Scrapyard Cambridge</a> and 
        <a href="https://scrapyard.hackclub.com/london">Scrapyard London</a>, hackathons 
        where people make the stupidest stuff possible, as well as 
        <a href="https://counterspell.hackclub.com/cambridge">Counterspell Cambridge</a>, a collaborative 
        game jam. 
        </p>
      </Card2>
    </div>
    <div class = "blue-section" style = "padding-top:0rem;">
      <Card2>
        <h1>What If My Parents Have Concerns?</h1>
        <p>We'll be releasing a parent's guide soon, but if your
          parents do have any queries they can 
          <a href="https://youthacks.org/contact-us">reach out to us</a>. 
          All of our events are Adult supervised, and our Adult volunteers have 
          safeguarding training and are DBS checked. For more info, they can also check out 
          raspberry Pi's <a href="https://www.raspberrypi.org/safeguarding">safeguarding page</a>. 
        </p>
      </Card2>
      <Card2>
        <h1>Who can attend?</h1>
        <p>Cool as Hack is open to all secondary students, no matter their skill level!
          Even if you have only some experiennce in coding, you can still participate. We need people
          who like to make things, and that are good at collaborating.
          Let's all learn and create together!
        </p>
      </Card2>
    </div>
    <div class="magenta-section" style="padding: 0rem;">
      <h1 style="margin-left: auto; margin-right:auto; margin-top:4rem;"> 
        What's happening at Cool as Hack?
      </h1>
    </div>
    <div class="magenta-section" style="padding:0rem;">
      <h2 style="text-align: center; margin-left: auto; margin-right:auto; margin-bottom:4rem;">
        Doors open & Registration - 8:45 
        <br> Opening Ceremony - 9:00 <br>  
        Form teams, start working on projects! - 9:45 <br>
      Lunch - 12:00 <br>
      Continue working on projects - 13:00
      <br> Dinner - 17:00
      <br> Project Demos - 18:30
      <br> Closing Ceremony - 20:00
      <br> Home! - 20:30</h2>
      
    </div>

    <div class="white-section">
      <Grid1>
      <Card3>
        <div class="wrapper"> 
          <img src="images/aromi.png" alt="Aromi logo" />
        </a>
      </div>
        
           <p>Aromi</p> 
         </Card3> 
      <Card3>
        <div class="wrapper">
        
          <img src="images/raspberrypi-logo.png" alt="Raspberry Pi logo" />
         </div>
        <p>Raspberry Pi</p> </Card3>
      
      <Card3>
        <div class="wrapper">
        
          <img src="images/github-logo.png" alt="GitHub logo"/>
        </div>
        
        <p >GitHub</p> </Card3>
      <Card3>
        <div class="wrapper">
        
          <img src="images/learnanything.png" alt="Learn Anything" />
        </div>
        
       <p>Learn Anything</p> </Card3>
      </Grid1>
    </div>
  </div>

  <!-- <script>
    const whiteSection = document.querySelector('.white-section');
    const header = document.querySelector('header');
  
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.intersectionRatio > 0.1) {
          header.classList.add('hide-gradient');
        } else {
          header.classList.remove('hide-gradient');
        }
      });
    }, {
      threshold: 0.1
    });
  
    observer.observe(whiteSection);
  </script> -->
  <!-- <script>
    const cranes = document.querySelectorAll('.crane, .craneflipped');
  
    cranes.forEach(crane => {
      crane.addEventListener('mouseenter', (e) => {
        // Get the position of the crane
        const craneRect = crane.getBoundingClientRect();
        const craneCenterX = craneRect.left + craneRect.width / 2;
        const craneCenterY = craneRect.top + craneRect.height / 2;
        
        // Get mouse cursor position
        const mouseX = e.clientX;
        const mouseY = e.clientY;
        
        // Calculate the direction away from the cursor
        const deltaX = mouseX - craneCenterX;
        const deltaY = mouseY - craneCenterY;
        
        // Calculate a random angle and distance for movement (smaller range)
        const randomAngle = Math.random() * 2 * Math.PI; // Random angle in radians
        const randomDistance = Math.random() * 150 + 70; // Random distance between 30px to 80px
  
        // Calculate new position based on the random angle
        const newX = craneCenterX + Math.cos(randomAngle) * randomDistance;
        const newY = craneCenterY + Math.sin(randomAngle) * randomDistance;
  
        // Apply new position and set transition
        crane.style.position = 'absolute'; // Make sure the position is absolute
        crane.style.left = `${newX - craneRect.width / 2}px`;
        crane.style.top = `${newY - craneRect.height / 2}px`;
        crane.style.transition = 'transform 0.6s ease-out, left 0.6s ease-out, top 0.6s ease-out';
      });
    });
  </script> -->
  
  
</body>

