---
import { Image } from "astro:assets";

import Card1 from "../components/UI_components/card1.astro";
import Card2 from "../components/UI_components/card2.astro";
import Card3 from "../components/UI_components/card3.astro";
import Grid1 from "../components/UI_components/grid1.astro";
import Footercolumn from "../components/UI_components/footer.astro";

// Import images from ../assets
import youthacksLogo from "../assets/youthacks-logo.svg";
import mainLogo from "../assets/logo.svg";
// import crane from "../assets/crane.png";
import crane1a from "../assets/crane1a.png";
import crane1b from "../assets/crane1b.png";
import crane2 from "../assets/crane2.png";
import crane3 from "../assets/crane3.png";
import crane4 from "../assets/crane4.png";
import crane5 from "../assets/crane5.png";
import crane6 from "../assets/crane6.png";
import gear from "../assets/gear.png";
import aromi from "../assets/aromi.png";
import githubLogo from "../assets/github-logo.png";
import nandos from "../assets/nandos.png";
import rpiLogo from "../assets/raspberrypi-logo.png";
import learnAnything from "../assets/learnanything.svg";
import yubico from "../assets/yubico.svg";
import headerBg from "../assets/header_bg.jpg";
import Laptop from "../assets/laptop.png";
---
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Poetsen+One&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>Cool As Hack</title>
  <style
  define:vars={{
    bg: `url("${headerBg.src}")`, 
    crane1a: `url("${crane1a.src}")`,
    crane1b: `url("${crane1b.src}")` 
  }}>
  body.loading {
  overflow: hidden;
}
  .loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        font-family: sans-serif;
        transition: opacity 0.3s ease;
      }

      .loading-screen.hidden {
        opacity: 0;
        pointer-events: none;
      }

      .spinner {
        width: 50px;
        height: 50px;
        border: 6px solid #ccc;
        border-top: 6px solid #333;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-bottom: 1rem;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    html, body {
      margin: 0; !important;  
      padding: 0; !important;
      width: 100%; !important;
      height: 100%; 
      background-color: white;
      color: white;
      /* overflow-x: hidden; 
	    overflow-y: auto; */
      font-family: "Bungee", sans-serif;
    }

    .Image{
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }


    .container {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    header {
      background-image: var(--bg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    }

    .crane, .craneflipped {
      z-index:5;
      position: absolute;
      pointer-events: none;
      transition: transform 0.6s ease-out, left 0.6s ease-out, top 0.6s ease-out; /* Smooth transition */
      pointer-events: auto; /* Make sure the cranes can be interacted with */
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      height: auto;
    }

    .crane {
      width: 5.5rem;
      animation: flap 1s infinite alternate;
      
    }

    @keyframes flap {
      0% { content: var(--crane1b); transform: translateY(5px); }
      50% { content: var(--crane1a); transform: translateY(-5px); }
      75% { content: var(--crane1b); transform: translateY(5px); }
      100% { content: var(--crane1a); transform: translateY(-5px); }
    }

    .craneflipped {
      width: 10%;
      animation: flap-flipped 1s infinite alternate;
    }

    @keyframes flap-flipped {
      0% { content: var(--crane1b); transform: translateY(5px) scaleX(-1); }
      50% { content: var(--crane1a); transform: translateY(-5px) scaleX(-1); }
      75% { content: var(--crane1b); transform: translateY(5px) scaleX(-1); }
      100% { content: var(--crane1a); transform: translateY(-5px) scaleX(-1); }
    }

    .crane:hover, .craneflipped:hover {
      transition: transform 0.1s ease-out, left 0.1s ease-out, top 0.1s ease-out; /* Smoothly move away */
    }


    .logo {
      max-width: 800px;
      min-width: 150px;
      width: 80%;
      height: auto;
      filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
      z-index: 10;
      transition: transform 0.3s ease-in-out;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }


    .logo:hover {
      transform: scale(1.1);
    }

    
    .logo-small-top {
      position: absolute;
      top: 1rem;
      width: 15%;
      height: auto;
      z-index: 10;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    @media only screen and (max-width: 900px) {
      .logo-small-top {
        width: 40%;
      }
    }
    .youthacks-logo {
      left: 2rem;
    }
    .rpi-logo {
      right: 2rem;

    }
    .logo-small-top:hover {
      transform: scale(1.1);
    }
    
    .white-section {
      /* grid-template-columns: 1fr 1fr ; */
      align-items: center;
      /* padding: 2rem; */
      display:flex;
      
    }
    @media only screen and (max-width: 900px) {
        .white-section {
          /* padding: 0rem; */
          align-items: center;
          display: block;
        }
      }

    .blue-section {
      display: flex;
      padding: 4rem;
      background-color:#6255bb;
      justify-content: center; /* horizontal center */  
      align-items: center;  
      
    }
    .info-box {  
        background-color: white;  
        color: #6255bb;
        display: inline-block; 
        padding: 6px 12px;  
        font-size: 1em;  
        border-radius: 1em;
        margin-top: 3em;  
        box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1); 
        text-align: center; 
    }
    @media only screen and (max-width: 900px) {
        .blue-section {
          display: inline-block;
          padding: 1rem;
        }
      }

    .blue-section Image alt=""{
      margin-left:auto;
      margin-right:auto;
      width: 10rem;
      height: auto;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .white-section Image alt="" {
      width: 100%;
      height: auto;
      margin-right: 7rem;
    }

    .text-box {
      padding: 1rem;
      border-radius: 4px;
      width: 100%;
      color: #f40c54;
    }

    .gear {
      width: 5%;
      max-width: 4rem;
      height: auto;
      position: absolute;
      z-index: 4;
       transition: transform 1s ease-in-out;
       user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    @media only screen and (max-width: 900px) {
      .gear {
        max-width: 2rem;
      }
    }
    .footer {
      display:flex;
       justify-content: center;
        align-items: center;
    }
    .gear:hover{
      transform:scale(1.2) rotate(360deg);
    }
    .laptop-crane{
      position:absolute;
      width:10%; 
      height:auto; 
      position:absolute; 
      z-index:0;
    }
    @media only screen and (max-width: 900px) {
        .laptop-crane {
          width: 20%;
        }
      }
    .footer {
      display:flex;
       justify-content: center;
        align-items: center;
    }
    @media only screen and (max-width: 900px) {
        .footer {
          display: block;
        }
      }
    
    .laptop-crane img {
      max-width: 100%;
      height: auto;
      overflow: hidden;
      animation: crane-moving 2s infinite alternate ease-in-out;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    @keyframes crane-moving{
      0%{transform: translateY(10px)}
      100%{transform: translateY(-10px)}
    }
    

    .magenta-section {
      display: flex;
      align-items: center;
      padding: 2rem;
      background-color:#f10e52;
      flex-direction: column;
    }

    .content-wrapper {  
      display: flex;  
      flex-direction: column; 
      align-items: center; 
    }  

    header::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    header.hide-gradient::after {
      opacity: 0;
    }

    .sponsor-section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem 0;
    }


    .sponsor-section .container {
      margin: 0;            
      padding: 1rem;           
      display: flex;          
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    /* target every <Image alt=""> inside a Card1 container in the sponsor section */
    .sponsor-section .container Image {
      width: clamp(80px, 10vw, 150px) !important;
      height: auto;
    }

    .fixed-bottom-button {
      border-radius: 1rem 1rem 1rem 1rem;
      font-family: "Bungee", sans-serif;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 1rem;
    background: transparent;
    color: white;
    text-align: center;
    z-index: 10000; /* on top of loading screen */
    border: none;
    border: 3px solid #6255bb;
    border-color: #6255bb;
  }
  @media only screen and (max-width: 900px) {
    .fixed-bottom-button {
      width: 80%;
    }
  }

  .fixed-bottom-button:hover {
    background:#6255bb; 
    cursor: pointer;
  }

  .intro-grid{
      display: flex;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content
  }
  </style>
</head>
<body class="loading">
  <div id="loading" class="loading-screen">
    <div class="spinner"></div>
    <div>Loading...</div>
  </div>
  
  
  <main class="container">
    <!-- <div class="gears" style="position: absolute; overflow: hidden; z-index: 0;">
      <Image alt="" src={gear} class="gear" style="top: 20rem; left: 5rem;" style="z-index:10"/>
    <Image alt="" src={gear} class="gear" style="top: 40rem; right: 5rem;" style="z-index:10"/>
    <Image alt="" src={gear} class="gear" style="top: 115rem; right: -10rem" style="z-index:10"/>
    <Image alt="" src={gear} class="gear" style="top: 6rem; right: 40rem;"style="z-index:10" />
    <Image alt="" src={gear} class="gear" style="top: 80rem; right: 22rem;"style="z-index:10" />
    <Image alt="" src={gear} class="gear" style="top: 65rem; left: 30rem  ;"style="z-index:10" />
    </div> -->
      <header>
        
      <a href="https://youthacks.org" target="_blank">
        <Image alt="" src={youthacksLogo} alt="Youthacks Logo" class="logo-small-top youthacks-logo" />
      </a>
      <div class="tilt-logo" data-tilt data-tilt-max="15" data-tilt-speed="400">
        <Image alt="" src={mainLogo} alt="Logo" class="logo" />
      </div>
      <button class="fixed-bottom-button" onclick="window.location.href='https://youthacks.fillout.com/sign-up';">
        Sign Up
      </button>
      <br>
      <Image src={crane1a} alt="Crane" class="craneflipped" style="top: 50%; left: 5%;" />
      <Image src={crane1a} alt="Crane" class="craneflipped" style="top: 5%; left: 70%;" />
      <Image src={crane1a} alt="Crane" class="crane" style="top: 20%; right: 10%;" />
      <Image src={crane1a} alt="Crane" class="crane" style="top: 40%; left: 15%;" />
      
      <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>

    </header>
      <div class="intro-grid">
    
      
        <Card1>
          <h1>What Is Cool As Hack?</h1>
          <p>Cool as hack is a <a href="https://en.wikipedia.org/wiki/Hackathon">Hackathon</a>
          for Secondary school students, supported by the <a href="https://raspberrypi.org"> Raspberry Pi Foundation</a>. Held right here in Cambridge,
          Cool as hack is a hackathon where
          you get to work on the coolest projects you can,
          and then show them to the world in their
          global competition, <a href="https://online.coolestprojects.org/">Coolest projects</a>.</p>
        </Card1>
        <Image alt="G" src={gear} class="gear" style="top: 20%; left: 5%;" />
        <Image alt="G"src={gear} class="gear" style="top: 40%; right: 5%;" />
        <Image alt="G"src={gear} class="gear" style="top: 108%; right: 5%;" />
        <Image alt="G"src={gear} class="gear" style="top: 65%; left: 30%;" / >
          <!-- <img src="/images/gear.png" class="gear" style="top: 20%; left: 5%;">
        <img src="/images/gear.png" class="gear" style="top: 40%; right: 5%;">
        <img src="/images/gear.png" class="gear" style="top: 115%; right: 5%;">
        <img src="/images/gear.png" class="gear" style="top: 6%; right: 40%;">
        <img src="/images/gear.png" class="gear" style="top: 80%; right: 22%;">
        <img src="/images/gear.png" class="gear" style="top: 65%; left: 30%;"> -->
        
      </div>

    </div>
    <div class = "blue-section" style = "padding-bottom:0rem;">
      <Card2>
        <h1>Is this all free?</h1>
        <p>Yes, all of it is free! Food, drinks, snacks, and swag are all provided. 
          All you need to bring is a laptop to code on, a charger and a cool project (or idea)!
          We will try to accomodate any Allergens and Dietary requirements - just let us know.
        </p>
      </Card2>
      <Card2>
        <h1>What have you done in the past?</h1>
        <p>In the past, we have organised other really fun events! We've organised
        <a href="https://scrapyard.hackclub.com/cambridge">Scrapyard Cambridge</a> and 
        <a href="https://scrapyard.hackclub.com/london">Scrapyard London</a>, hackathons 
        where people make the stupidest stuff possible, as well as 
        <a href="https://counterspell.hackclub.com/cambridge">Counterspell Cambridge</a>, a collaborative 
        game jam. 
        </p>
      </Card2>
    </div>
    <div class = "blue-section" style = "padding-top:0rem;">
      <Card2>
        <h1>What If My Parents Have Concerns?</h1>
        <p>If your parents do have any queries they can 
          <a href="https://youthacks.org/contact-us">reach out to us</a>. 
          All of our events are Adult supervised, and our Raspberry Pi Foundation Staff have 
          safeguarding training and are DBS checked. For more info, they can also check out the
          Raspberry Pi Foundation's <a href="https://www.raspberrypi.org/safeguarding">safeguarding page</a>.
          Contact <a href="mailto:helen.gardner@raspberrypi.org">Helen</a> for safeguarding concerns.
        </p>
      </Card2>
      <Card2>
        <h1>Who can attend?</h1>
        <p>Cool as Hack is open to all secondary students!
          Even if you have limited experience in coding, you can still participate. We need people
          who like making things, and collaborating with others.
          Let's all learn and create together!
        </p>
      </Card2>
    </div>
    <div class="magenta-section" >
      <h1 style="margin-left: auto; margin-right:auto; margin-top:4rem;"> 
        Saturday 24th May, Raspberry Pi Foundation HQ
      </h1>
      <iframe width="80%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtdAvG4Nw2EcRX4uxpDxqF_M&key=AIzaSyALOWXdTST-FJu1AM0Q8Gw92otdbjbLE9E"></iframe>
    </div>
    <div class="magenta-section" >
      <h2 style="text-align: center; margin-left: auto; margin-right:auto; margin-bottom:4rem;">
        
        
        Doors open & Registration - 9:00am 
        <br><br> Opening Ceremony - 9:30am <br><br>  
        Form teams, start working on projects! - 10:00am <br><br>
      Lunch - 12:00pm <br><br>
      AMAs with our guest speakers - 1:00pm
      <br><br> Dinner - 5:00pm
      <br><br> Project Submissions - 6:30pm
      <br><br> Closing Ceremony - 7:45pm
      <br><br> Home! - 8:00pm</h2>
      
    </div>
   
   

    <div class="white-section"> 
      <Grid1>  
        <Card3 slot="partner">
          <div class="wrapper">
            <Image alt="" src={rpiLogo} alt="Raspberry Pi logo" style="object-fit: contain;"/>
          </div>
        </Card3>
        <Card3>  
          <div class="wrapper">  
            <Image alt="" src={aromi} alt="Aromi logo" style="object-fit: contain;"/>  
          </div>  
        </Card3>  
    
        <Card3>  
          <div class="wrapper">  
            <Image alt="" src={githubLogo} alt="GitHub logo" style="object-fit: contain;"/>  
          </div>  
        </Card3>  
    
        <Card3>  
          <div class="wrapper">  
            <Image alt="" src={learnAnything} alt="Learn Anything" style="object-fit: contain;"/>  
          </div>   
        </Card3>  
        <Card3>  
          <div class="wrapper">  
            <Image alt="" src={nandos} alt="Nando's" style="object-fit: contain;"/>  
          </div>    
        </Card3> 
        <Card3>  
          <div class="wrapper">  
            <Image alt="" src={yubico} alt="Yubico" style="object-fit: contain;"/>  
          </div>    
        </Card3> 
      </Grid1>  
    </div>
    <div class="blue-section" style = "filter: drop-shadow(0 1rem 4rem rgba(98, 85, 187, 1));">
      <div class="content-wrapper">  
        <Image src={mainLogo} alt="Cool as Hack" style="max-width: 50%; height:auto"/>  
        <div class="footer" >
          <Footercolumn>
            <a href = "https://youthacks.org">Youthacks</a>
          </Footercolumn>  
          
          <Footercolumn>
            <a href = "https://youthacks.org/contact-us">Contact</a>
          </Footercolumn>
          
          <Footercolumn>
            <a href = "https://youthacks.org/donate">Support Us</a>
          </Footercolumn>
          
          <Footercolumn>
            <a href = "https://www.raspberrypi.org/safeguarding/">Safeguarding</a>
          </Footercolumn>
        </div>
        <p style = "font-size:0.7rem; font-family: sans-serif;"> &copy; 2025 Youthacks. Pending UK charity registration. Fiscally sponsored by Hack Club, 
        a 501(c)(3) nonprofit (EIN: 81-2908499)</p>
        <p style = "font-size:0.7rem; font-family: sans-serif;">All rights reserved</p>
      </div>
      <script>
        const whiteSection = document.querySelector('.white-section');
        const header = document.querySelector('header');
      
        const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            if (entry.intersectionRatio > 0.1) {
              header.classList.add('hide-gradient');
            } else {
              header.classList.remove('hide-gradient');
            }
          });
        }, {
          threshold: 0.1
        });
      
        observer.observe(whiteSection);
      </script>
      <script>
        const cranes = document.querySelectorAll('.crane, .craneflipped');
      
        cranes.forEach(crane => {
          crane.addEventListener('mouseenter', (e) => {
            // Get the position of the crane
            const craneRect = crane.getBoundingClientRect();
            const craneCenterX = craneRect.left + craneRect.width / 2;
            const craneCenterY = craneRect.top + craneRect.height / 2;
            
            // Get mouse cursor position
            const mouseX = e.clientX;
            const mouseY = e.clientY;
            
            // Calculate the direction away from the cursor
            const deltaX = mouseX - craneCenterX;
            const deltaY = mouseY - craneCenterY;
            
            // Calculate a random angle and distance for movement (smaller range)
            const randomAngle = Math.random() * 2 * Math.PI; // Random angle in radians
            const randomDistance = Math.random() * 150 + 70; // Random distance between 30px to 80px
      
            // Calculate new position based on the random angle
            const newX = craneCenterX + Math.cos(randomAngle) * randomDistance;
            const newY = craneCenterY + Math.sin(randomAngle) * randomDistance;
      
            // Apply new position and set transition
            crane.style.position = 'absolute'; // Make sure the position is absolute
            crane.style.left = `${newX - craneRect.width / 2}px`;
            crane.style.top = `${newY - craneRect.height / 2}px`;
            crane.style.transition = 'transform 0.6s ease-out, left 0.6s ease-out, top 0.6s ease-out';
          });
        });
      </script>
    </div>
    <script>
      window.addEventListener('load', () => {
        const loadingScreen = document.getElementById('loading');
        document.body.classList.remove('loading');
        loadingScreen.classList.add('hidden');
        setTimeout(() => loadingScreen.remove(), 300);
      });
    </script>
</body>

